<%= title_bar("mst", "児童グループ（新規登録）")%>
<%= fn_bar2 %>

<TABLE CLASS="part">
<%= error_messages_for :group %>
<% form_for(@group) do |f| %>
<%= table_col(32) %>
<tr>
  <th colspan=10>名　称</th>
  <td colspan=22>
    <%= f.text_field :name %>
  </td>
</tr>
<tr>
  <th colspan=10>カテゴリー</th>
  <td colspan=22>
    <%= f.text_field :cat %>
  </td>
</tr>
<tr>
  <th colspan=10>備 考</th>
  <td colspan=22>
    <%= f.text_field :misc %>
  </td>
</tr>

<tr>
  <th colspan=10>登録／更新;</th>
  <td colspan=22>
     <%= f.submit "登録／更新" %>
  </td>
</tr>
<% end %>
</TABLE>