<%= javascript_include_tag :defaults %>  

<div style="padding:5px">
  <b><%= "#{current_user.staff.name}さん、担当児童を選んでください" %></b>
  &nbsp;&nbsp;&nbsp;※この機能は暫定的（作業中）です。担当児童の登録と更新が可能です。
</div>
<% grp_ids=[428321002,428388652,428456302,428523952] %>

<% form_tag 'form_group_ck', :action => "update_group", :id => 'form_group_ck' do %>
<label><%= check_box_tag 'g_00', 'show', true %>幼児</label>
<label><%= check_box_tag 'g_01', 'show', true %>男子グループ</label>
<label><%= check_box_tag 'g_02', 'show', true %>女子グループ</label>
<label><%= check_box_tag 'g_03', 'show', true %>その他グループ</label>
<span style="margin-left:50px">
   <%= link_to_function "全てみせる" do |page|
      page['00'].show
      page['01'].show
      page['02'].show
      page['03'].show
    end %>
   <%= link_to_function "全てかくす" do |page|
      page['00'].hide
      page['01'].hide
      page['02'].hide
      page['03'].hide
    end %>
</span>
<% end %>
<br>

<% end %>

<%= observe_form 'form_group_ck', :url => { :action => 'update_group' },
      :frequency => 0.5,
      :update => ""
      %>
  
<div id="group">  
<!--
<%= link_to_function "click",
	" $('01').innerHTML='hugahuga';" %>

<%= link_to_function("test_01", nil, :id => "more_link") do |page|
      page['00'].toggle "Blind"
      page['01'].toggle "Blind"
      page['02'].toggle "Blind"
      page['03'].toggle "Blind"
    end %>
-->


<% form_tag :action => :sett do %>
<table>
  <tr>
    <td style="text-align:right; padding-right:100px">
      幼児<%= stretch ('00') %><%= collapse ('00') %>
    </td>
  </tr>
  <tr>
    <td>
      <div id='00'>
        <%= render (:partial => "jido_list", :object => Group.find(grp_ids[0]).boys ) %>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align:right; padding-right:100px">
      男子<%= stretch ('01') %><%= collapse ('01') %>
    </td>
  </tr>
  <tr>
    <td>
      <div id='01'>
        <%= render (:partial => "jido_list", :object => Group.find(grp_ids[1]).boys ) %>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align:right; padding-right:100px">
      女子<%= stretch ('02') %><%= collapse ('02') %>
    </td>
  </tr>
  <tr>
    <td>
      <div id='02'>
        <%= render (:partial => "jido_list", :object => Group.find(grp_ids[2]).boys ) %>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align:right; padding-right:100px">
      その他<%= stretch ('03') %><%= collapse ('03') %>
    </td>
  </tr>
  <tr>
    <td>
      <div id='03'>
        <%= render (:partial => "jido_list", :object => Group.find(grp_ids[3]).boys ) %>
      </div>
    </td>
  </tr>
</table>  
<%= submit_tag "更新する" %>
<% end %>  

</div>