<table CLASS="part" style="padding:5px">
  <%= table_col(32) %>
　　<tr>
  	<td colspan=12>
  	 管理モード
  	</td>	
  	<td colspan=20 ID= "manage_mode" >
      <%= link_to_remote ("#{session[:manage_mode] if session[:manage_mode]}（管理モードにする）", :update => "",:url => { :action => "manage_mode" })%>	    	    	  
  	</td>	  	
  </tr>  
　　<tr>
  	<td colspan=12>
  	  データの現況
  	</td>	
  	<td colspan=20>
  	  指  導 :<%= ShidouRec.all.size %>件<br>
  	  グループ :<%= GroupRec.all.size %>件<br>
  	  業　　務 :<%= DayRec.all.size %>件<br>
	    	    	  
  	</td>	  	
  </tr>
  <tr>
  	<td colspan=12>
  	  データの管理
  	</td>	
  	<td colspan=20>
  	  <%= link_to ('ＤＢ>>フィクスチャー｜保存', {:action => "extract_fixture"}) %><br>
  	  <%= link_to ('フィクスチャー>>ＤＢ｜読込', {:action => "load_fixture"}) %><br>
  	</td>	  	
  </tr>
  <tr>
  	<td colspan=12>
  	  ファイルのダウンロード
  	</td>	
  	<td colspan=20>
  	  <%= link_to (
  	    "YMLデータ作成圧縮",{:action=>'extract_ymls_to_zip_return'},
  	    :title=>"全テーブルのＹＭＬデータから１つの圧縮ファイルを作成DLします") %><br>  		
  	  <%= link_to (
  	     "YMLデータDL",{:action=>'download_ymls'},
  	     :title => "ＹＭＬデータ圧縮ファイルをﾀﾞｳﾝﾛｰﾄﾞします")%><br>  	  
  	  <%= link_to "データベースDL",:action=>'download_db' %><br>
  	  <%= link_to "設定ファイルDL",:action=>'download_pref' %><br>
  	  <%= link_to "添付メール発信",:action=>'send_mail' %><br> 
  	</td>	  	
  </tr>  
  <tr>
  	<td colspan=12>
  	  児童の表示モード選択
  	</td>	
  	<td colspan=20>
  	  <%= check_box_tag 'receive_email', 'yes', true%> 在籍児童のみ表示<br>
      <%= check_box_tag 'receive_email', 'yes', true%> 措置外児童のみ表示<br>
      <%= check_box_tag 'receive_email', 'yes', true%> 全登録児童を表示
  	</td>	  	
  </tr>

</table>  