<h2>プログラムで使用しているアイコンについて</h2>

<h3>プログラム全般で使用しているアイコン</h3>

<table class="report" style="margin-left:85px;">
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("arrow_next.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">次のレコードに移動する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("arrow_back.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">前のレコードに移動する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("arrow_undo.png", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">元の画面に戻る</td>
  </tr>  
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("user.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">マイページ画面に戻る</td>
  </tr>    
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("maximize.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">画面パーツを展開する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("minimize.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">画面パーツを折り畳む</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag("action_add.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコードを新規作成する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag("reply.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコードを編集する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag("delete.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコードを削除する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag("list.png", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコードを一覧表示する</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("topdf.jpg", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">ＰＤＦ作成と印刷</td>
  </tr> 
</table>

<h3>マイページ児童リストで使用しているアイコン</h3>

<table class="report" style="margin-left:85px;">
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("action_add.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコード新規作成（まだ他にレコードがない場合）</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("s_action_add.gif", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">レコード新規作成（既に他にレコードがある場合）</td>
  </tr>
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("emoticon_smile.png", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">自分が作成したレコード（編集可能）</td>
  </tr>  
  <tr>
    <td style="padding:3px 20px 3px 20px;"><%= image_tag ("ff_emoticon_smile.png", :border=>0) %></td>
    <td style="padding:3px 30px 3px 30px;">他人が作成したレコード（編集不可）</td>
  </tr> 
  
</table>
<div style="padding:15px;">
  ※ブラウザーの種類により異なりますが児童リストアイコンにカーソルを当てるとその内容と作成担当者名が表示されます
  　&nbsp; <br>InternetExprorer…表示されない場合があります
  　&nbsp; <br>FireFox…表示されます
  　&nbsp; <br>GoogleChrome…表示されます
  　&nbsp; <br>Safari…表示されます
</div>
<p>http://www.famfamfam.com/のSILK ICONSを利用しています</p>