<p>
  <b>ID:</b>
  <%=h dd2.id %>
</p>

<p>
  <b>Time:</b>
  <%=h dd2.time %>
</p>

<p>
  <b>Attend:</b>
  <%=h dd2.attend_id %>
</p>

<p>
  <b>In out:</b>
  <%=h dd2.in_out %>
</p>

<p>
  <b>Yoken:</b>
  <%=h dd2.yoken %>
</p>

<p>
  <b>Naiyo:</b>
  <%=h dd2.naiyo %>
</p>